svg {
    position: relative;
    top: 11px;
    right: 26px;
    transform: rotate(15deg);
}
body {
    font-family: Comfortaa !important;
}
#body{
    width: 580px;
    height: 550px;
    float: left;
}
.chartImg{
    width: 550px; 
    position: absolute;
}
.radar-chart-serie0 {
    stroke: rgb(255, 255, 255) !important;
    fill: rgb(255, 255, 255) !important;
    stroke-width: 1px !important;
}
circle.radar-chart-serie0 {
    r: 2.5;
}
/*.radar-chart-serie1 {
    stroke-width: 1px !important;
}
circle.radar-chart-serie1 {
    r: 2.5;
}*/
.rangeInput{
    padding: 0px !important;
    margin-bottom: 6px;
    border: none !important;
}
.hrCss{
    margin-top: 15px;
}

.questionDiv{
    height: 570px;
    overflow-x: hidden;
    width: 50%; 
    float: left; 
    margin-left: 40px;
    padding-left: 15px;
}

.nxtBtn{
    float: right;
}
.prevBtn{
    float: left;
    margin-left: 65px;
}
.background-loader {
    background-color: hsl(0, 15%, 90%);
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.image-laoding {
    border-radius: 3px;
    height: auto;
    left: 50%;
    opacity: 0.99;
    padding: 3px;
    position: fixed;
    top: 40%;
    width: auto;
    z-index: 100001;
}

.header{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f7f7f7;
    margin-bottom: 25px;
}

@media (max-width: 1199px) { 
    svg {
        /*position: relative;
        top: 5px;
        right: 59px;*/
    }
    .questionDiv{
        width: 35%;
    }
}

@media (max-width: 991px) { 
    svg {
        /*position: relative;
        top: 9px;
        right: 57px;*/
    }
    .questionDiv{
        width: 40%;
    }
}

@media (max-width: 885px) { 
    .containers-graph{
        width: 100% !important;
    }
    #body{
        width: 580px;
        margin-left: 20px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .questionDiv{
        width: 100%;
    }
    svg{
        /*top: 28px;*/
        /*right: 42px;*/
    }
}

@media (max-width: 765px) { 

    svg{
        /*top: 23px;*/
        /*right: 44px;*/
    }

}

@media (max-width: 570px) { 
    svg{
        /*top: 23px;*/
        /*right: 45px;*/
    }
}

@media (max-width: 480px) { 
    svg{
        top: -19px;
        position: relative;
        right: 55px;
    }
    #body{
        width: 260px;
        float: none;
        height: 300px;
    }
    .chartImg{
        width: 260px; 
    }
    .questionDiv{
        margin-left: 0;
    }
}